{
  "CollaborationPreset": "HighCollaboration",
  "UnlearnRefundRate": 0.5,
  "SpecialtyCostMultiplier": 2.0,
  "SkillGainMultiplier": 1.0,
  "SpecialtyExperienceDivisor": 20.0,
  "SpecialtyExperiencePerLevel": 25.0,
  "PlayerExperiencePerSpecialtyExperience": 0.0
}