{
  "WhitelistEnabled": false,
  "Whitelist": {
    "System.String": {
      "$type": "System.Collections.Generic.List`1[[System.String, mscorlib]], mscorlib",
      "$values": []
    }
  },
  "LiveUpdateUnityFiles":false,
  "PreserveGeneratedModsAssembly":false
}